<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tea Tracker</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h2>Tea Tracker</h2>
    <div class="tea-cards-container">
      <% teaData.forEach(tea => { %>
      <div class="tea-card">
        <img
          class="tea-image"
          src="<%= tea.imageLink %>"
          width="200"
          height="200"
        />
        <div>
          <input type="checkbox" id="<%= tea.teaName %>" class="tea-checkbox" />
          <label for="<%= tea.teaName %>"><%= tea.teaName %></label>
        </div>
      </div>
      <% }); %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", async function () {
        try {
          const response = await axios.get("/tea");
          const drankTeas = response.data;

          const checkboxes = document.querySelectorAll(".tea-checkbox");
          checkboxes.forEach((checkbox) => {
            const label = checkbox.nextElementSibling;
            if (drankTeas.includes(label.innerText)) {
              checkbox.checked = true;
              label.style.textDecoration = "line-through";
            }
          });
        } catch (error) {
          console.error("Error fetching drank teas:", error);
        }
      });

      document.addEventListener("change", async function (event) {
        if (event.target.classList.contains("tea-checkbox")) {
          const label = event.target.nextElementSibling;
          const drank = event.target.checked;
          try {
            await axios.post("/tea", { teaName: label.innerText, drank });
            if (!drank) {
              // If the checkbox is unchecked
              label.style.textDecoration = "none"; // Remove the strikethrough
            }
          } catch (error) {
            console.error("Error updating tea data:", error);
          }
        }
      });

    </script>
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tea-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .tea-card {
    max-width: 400px;
    padding: 20px;
    border: 1px solid rgba(198, 198, 198, 0.5);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .tea-checkbox + label {
    cursor: pointer;
  }

  .tea-checkbox:checked + label {
    text-decoration: line-through;
  }

</style>
